{% extends "wiki/wiki.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head2_js %}
    <script type="application/javascript" src="{% static 'js/jquery/jquery.markdown-editor.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/jquery/jquery.form.js' %}"></script>
    <script type="application/javascript">
        $(function()
        {
            $('#form-edit').markdownize();

            $('#modal-form-upload').ajaxForm(function (res, statustxt, xhr, form)
            {
                var data = jQuery.parseJSON(res);

                Dajaxice.pompadour_wiki.apps.filemanager.attach_doc(Dajax.process, {'wiki': '{{ wiki.obj.slug }}', 'files': [data.url], 'page': '{{ wiki.path }}'});
            });
        });
    </script>
{% endblock %}

{% block modal_area2 %}
    <div id="modal-attach-document" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>{% trans 'Attach a document' %}</h3>
        </div>

        <div class="modal-body">
            <p>
                <a class="btn" href="{% url 'filemanager-index' wiki.obj.slug '' %}?attach={{ wiki.path }}" target="_blank">
                    {% trans 'Select already uploaded files' %}
                </a>
            </p>

            <form id="modal-form-upload" method="post" action="{% url 'filemanager-upload' wiki.obj.slug %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="path" value="/" />
                <input type="hidden" name="format" value="json" />
                <input type="file" name="doc" />
            </form>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" onclick="$('#modal-form-upload').submit();" data-dismiss="modal" aria-hidden="true">
                <i class="icon-ok icon-white"></i>
                {% trans 'Validate' %}
            </button>

            <button class="btn" data-dismiss="modal" aria-hidden="true">
                {% trans 'Cancel' %}
            </button>
        </div>
    </div>
{% endblock %}

{% block wiki_body %}
    <form id="form-edit" class="form-horizontal" method="post">
        {% csrf_token %}

        <div class="control-group">
            <label class="control-label" for="form-edit-path">
                {% trans "Path" %}
            </label>

            <div class="controls">
                <input id="form-edit-path" class="input-block-level" name="{{ wiki.form.path.name }}" type="text" value="{{ wiki.form.path.value }}" />
            </div>
        </div>

        <div class="control-group">
            <a class="btn btn-mini markup markup-h1">H1</a>
            <a class="btn btn-mini markup markup-h2">H2</a>
            <a class="btn btn-mini markup markup-h3">H3</a>
            <a class="btn btn-mini markup markup-h4">H4</a>
            <a class="btn btn-mini markup markup-h5">H5</a>
            <a class="btn btn-mini markup markup-h6">H6</a> |

            <a class="btn btn-mini markup markup-bold"><i class="icon-bold"></i></a>
            <a class="btn btn-mini markup markup-italic"><i class="icon-italic"></i></a> |

            <a class="btn btn-mini markup markup-picture"><i class="icon-picture"></i></a>
            <a class="btn btn-mini markup markup-link"><i class="icon-globe"></i></a> |

            <a class="btn btn-mini markup markup-list" title="{% trans 'List' %}"><i class="icon-list"></i></a>
            <a class="btn btn-mini markup markup-nlist" title="{% trans 'Numbered list' %}"><i class="icon-list-alt"></i></a> |

            <a class="btn btn-mini markup markup-quote" title="{% trans 'Block Quote' %}"><i class="icon-comment"></i></a>
            <a class="btn btn-mini markup markup-code" title="{% trans 'Block Code' %}"><i class="icon-tasks"></i></a>
        </div>

        <div class="control-group">
            <a href="#modal-attach-document" data-toggle="modal">
                <i class="icon-upload"></i> {% trans 'Attach a document' %}
            </a>
        </div>

        <div class="control-group">
            <textarea class="input-block-level markup markup-content" rows="25" name="{{ wiki.form.content.name }}">{{ wiki.form.content.value }}</textarea>
        </div>

        <div class="control-group">
            <input class="input-block-level" type="text" name="{{ wiki.form.comment.name }}" placeholder="{% trans "Update comment" %}" />
        </div>

        <div class="control-group">
            <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> {% trans "Save" %}</button>

            <a class="btn" onclick="Dajaxice.pompadour_wiki.apps.wiki.edit_preview(Dajax.process, {'dform': $('#form-edit').serializeObject(), 'wiki': '{{ wiki.obj.slug }}'});">
                <i class="icon-eye-open"></i> {% trans 'Preview' %}
            </a>
        </div>
    </form>

    <div id="edit-preview">
        {% trans 'Preview' %}
    </div>
{% endblock %}
